*~
~*
*.swp
.DS_Store
*.pyc
.idea
*.bak
__pycache__
*/__pycache__
build
*/build
save_address
.ipynb*
.vscode
.venv*
diff*
Untitled.*
*.html
*/*.html
profiling/*.stats
profiling/*.txt
out*.txt
slurm*
FKC_experiment/slurm*
*_tmp.sh
Annual_Ensembles/*
Annual_Runs/results/*
Five_Year_Runs/dry_start*
Five_Year_Runs/results*
Five_Year_Runs/wet_start*
*.pdf
*.csv
*.xlsx
*.Rhistory
*.xls
*.xlsm
*.pkl